# Django
Django==3.1.2
python-decouple==3.3

# Heroku
django-heroku==0.3.1
gunicorn==20.0.4

# Imagens
Pillow==7.2.0

# QRcodes
django-qr-code==1.3.1

# WP API
wordpress-api==1.2.9

# AWS Storage
django-s3-folder-storage==0.5

# Sentry
sentry-sdk==0.19.2

# Admin Order
django-admin-ordering===0.13.1