# Django
Django==4.1.2
python-decouple==3.6

# Heroku
django-heroku==0.3.1
gunicorn==20.1.0

# Imagens
Pillow==9.2.0

# QRcodes
django-qr-code==3.1.1

# WP API
wordpress-api==1.2.9

# AWS Storage
django-s3-folder-storage==0.5

# Cloudinary
dj3-cloudinary-storage==0.0.6

# Sentry
sentry-sdk==1.9.10

# Admin Order
django-admin-ordering==0.16.0

# Code Editor
django-summernote==0.8.20.0