{% extends "base.html" %}

{% block title %} Listagem de Cardápios {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="page-header">
    <h3 class="page-title">Cardápios</h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="mdi mdi-home menu-icon"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">cardápios</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    {% if messages %}
      {% for message in messages %}
        <div class="col-12">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Cardápios</h4>
          <p class="card-description"> Listando todos os <code>cardápios</code>
          </p>
          <table class="table table-responsive-sm">
            <thead>
            <tr>
              <th>Cardápio</th>
              {% if request.user.is_superuser %}<th>Restaurante</th>{% endif %}
              <th style="text-align: right;">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for menu in menus %}
              <tr class="unread">
                <td>
                  <h6>{{ menu.name }}</h6>
                  <p class="m-0">{{ menu.description }}</p>
                </td>
                {% if request.user.is_superuser %}<th>{{ menu.restaurant }}</th>{% endif %}
                <td style="text-align: right;">
                  <div class="btn-group" role="group" aria-label="Menu options">
                    <a class="btn btn-primary text-light" href="{% url 'update_menu' pk=menu.pk %}" class="label"><i class="mdi mdi-lead-pencil "></i></a>
                    <a class="btn btn-primary text-light" target="_blank" href="{% url 'menu_display' slug=menu.slug pk=menu.pk %}"><i class="mdi mdi-link-variant"></i></a>
                    <a class="btn btn-primary text-light" href="{% url 'qr_gen' pk=menu.pk %}" class="label"><i class="mdi mdi-qrcode"></i></a>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-info btn-icon-text dropdown-toggle" data-toggle="dropdown">
                      Impressão <i class="mdi mdi-printer btn-icon-append"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a href="{% url 'qr_sheet_gen' pk=menu.pk size='l' %}" target="_blank" class="dropdown-item">2
                        por folha</a>
                      <a href="{% url 'qr_sheet_gen' pk=menu.pk size='m' %}" target="_blank" class="dropdown-item">6
                        por folha</a>
                      <a href="{% url 'qr_sheet_gen' pk=menu.pk size='s' %}" target="_blank" class="dropdown-item">15
                        por folha</a>
                      <a href="{% url 'menu_print' pk=menu.pk %}" target="_blank" class="dropdown-item">Folhas</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <div class="text-center">
            <p>{{ menus.count }} Cardápios</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}