{% extends "base.html" %}
{% load qr_code %}

{% block title %} QR Code {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="page-header">
    <h3 class="page-title">QRCode Cardápio: {{ menu }}</h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'menu_list' %}">Cardápios</a></li>
        <li class="breadcrumb-item active" aria-current="page">qr-code</li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">

          </p>
          <div class="text-center">
            <p>{% qr_from_text complete_url options=qrcode_options %}</p>
            {% if menu.description %}
              <p class="card-text">{{ menu.description }}</p>
            {% endif %}
            <a target="_blank" href="{% url 'menu_display' slug=menu.slug pk=menu.pk %}" class="btn btn-primary mb-4"><i class="fas fa-external-link-alt"></i>
              Ver cardápio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}