{% extends "base.html" %}

{% block title %} Categorias {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="page-header">
    <h3 class="page-title">Categorias</h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="mdi mdi-home menu-icon"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">categorias</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    {% if messages %}
      {% for message in messages %}
        <div class="col-12">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-description"> Listando todas as <code>categorias</code>
          </p>
          <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
              <td>Categoria</td>
              <td style="text-align: right;">Ação</td>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
              <tr>
                <td>{{ category.name }}</td>
                <td style="text-align: right;">
                  <a class="btn btn-primary btn-sm" href="{% url 'products_sort' category.pk %}" role="button">
                    {% if category.product_set.count <= 1 %}
                      {{ category.product_set.count }} item
                    {% else %}
                      {{ category.product_set.count }} itens
                    {% endif %}
                  </a>
                  <a class="btn btn-gradient-primary btn-sm" href="{% url 'category_update' pk=category.pk %}" class="label"><i class="mdi mdi-lead-pencil"></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}