{% extends "base.html" %}

{% block title %} Novo Produto {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  <style>
      select.form-control {
          color: #495057;
      }
  </style>
{% endblock stylesheets %}

{% block content %}
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script>
      $(document).ready(function () {
          $("#add-item").click(function (ev) {
              ev.preventDefault();
              let count = $('#variacoes').children().length;
              let tmplMarkup = $("#variacao-produto").html();
              let compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
              $("div#variacoes").append(compiledTmpl);

              // update form count
              $('#id_product-TOTAL_FORMS').attr('value', count + 1);

          });
      });
  </script>

  <div class="page-header">
    <h3 class="page-title">Produtos</h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'products_list' %}">Produtos</a></li>
        <li class="breadcrumb-item active" aria-current="page">novo</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    {% if messages %}
      {% for message in messages %}
        <div class="col-12">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      {% endfor %}
    {% endif %}

    {% if form.errors %}
      <div class="col-12">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {% for erro in form.errors %}
            {{ erro }}
          {% endfor %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    {% endif %}

    {% if formset.errors %}
      <div class="col-12">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {% for erro in formset.errors %}
            {{ erro }}
          {% endfor %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <form action="." method="post">
            {% csrf_token %}

            <div class="form-row">
              <div class="form-group col-md-7">
                <label for="id_name">Nome</label>
                {{ form.name }}
              </div>
              <div class="form-group col-md-3">
                <label for="id_category">Categoria</label>
                {{ form.category }}
              </div>
              <div class="form-group col-md-2">
                <label for="id_price">Preço</label>
                {{ form.price }}
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="id_description">Descrição</label>
                {{ form.description }}
              </div>
            </div>

            {{ formset.management_form }}
            <div class="content" id="variacoes">
              {% for variation in formset %}
                <div id="item-{{ forloop.counter0 }}" class="row form-row spacer">
                  <div class="input-group">
                    <div class="col-md-9">
                      <label>Variação</label><br> {{ variation.variation }}
                    </div>
                    <div class="col-md-2">
                      <label>Preço</label><br> {{ variation.price }}</div>
                    <div class="col-md-1" style="margin-top: 38px;">{{ variation.DELETE }}
                      <label><i class="fas fa-trash"></i></label></div>
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="row my-5">
              <div class="col-md-12" style="display: flex; justify-content: space-between;">
                <button type="button" id="add-item" class="btn btn-primary">
                  <i class="fa fa-plus"></i> Add variação
                </button>
                <input type="submit" value="Salvar" class="btn btn-success">
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/html" id="variacao-produto">
    <div id="item-__prefix__" style="margin-top: 10px" class="row form-row spacer">
      <div class="input-group">
        <div class="col-md-9"><label>Variação</label><br> {{ formset.empty_form.variation }}</div>
        <div class="col-md-2"><label>Preço</label><br> {{ formset.empty_form.price }}</div>
        <div class="col-md-1" style="margin-top: 38px;">{{ formset.empty_form.DELETE }}
          <i class="fas fa-trash"></i></div>
      </div>
    </div>
  </script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}