{% extends "base.html" %}
{% load static %}
{% load core_extras %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2"><i class="mdi mdi-home"></i></span> Dashboard
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Resumo <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
      </ul>
    </nav>
  </div>
  {% if messages %}
  <div class="row">
    {% for message in messages %}
      <div class="col-12">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message|safe }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if request.user|has_group:"Customer" %}
    {% include 'core/dashboard_customer.html' %}
  {% else %}
    {% include 'core/dashboard_manager.html' %}
  {% endif %}
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{% static 'assets/js/dashboard.js' %}"></script>
{% endblock javascripts %}
