{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="{% static 'assets/images/faces/face1.jpg' %}" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">{{ user }}</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard' %}">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#produtos" aria-expanded="false" aria-controls="produtos">
        <span class="menu-title">Produtos</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-food menu-icon"></i>
      </a>
      <div class="collapse" id="produtos">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="#">Todos os produtos</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Adicionar produto</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#categorias" aria-expanded="false" aria-controls="categorias">
        <span class="menu-title">Categorias</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-folder menu-icon"></i>
      </a>
      <div class="collapse" id="categorias">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="#">Todas as categorias</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Adicionar categoria</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#variacoes" aria-expanded="false" aria-controls="variacoes">
        <span class="menu-title">Variações</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-content-copy menu-icon"></i>
      </a>
      <div class="collapse" id="variacoes">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="#">Todas as variações</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Adicionar variação</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#cardapios" aria-expanded="false" aria-controls="cardapios">
        <span class="menu-title">Cardápios</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-file-multiple menu-icon"></i>
      </a>
      <div class="collapse" id="cardapios">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="#">Todos os cardápios</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Adicionar cardápio</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">Sair</span>
        <i class="mdi mdi-exit-to-app menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>