{% load core_extras %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N497TBG');</script>
  <!-- End Google Tag Manager -->

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    goMenu - {% block title %}{% endblock %}
  </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
  <meta property="og:image" content="{% static 'assets/images/favicon.png' %}">

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N497TBG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="container-scroller">
  <!-- partial: navbar -->
  {% include 'includes/navbar.html' %}

  <div class="container-fluid page-body-wrapper">
    <!-- partial: sidebar -->
    {% if request.user|has_group:"Customer" %}
      {% include 'includes/sidebar_customer.html' %}
    {% else %}
      {% include 'includes/sidebar.html' %}
    {% endif %}

    <div class="main-panel">
      <!-- content-wrapper -->
      <div class="content-wrapper">
        {% block content %}{% endblock content %}
      </div>
      <!-- content-wrapper ends -->
      <!-- partial: footer.html -->
      {% include 'includes/footer.html' %}
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'assets/js/off-canvas.js' %}"></script>
<script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'assets/js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
<!-- End custom js for this page -->
</body>
</html>